@{
    ViewBag.Title = "Order Submitted";
    Layout = "~/View/Shared/_LayoutAccount.cshtml";
}

<article class="boxRSL">
    <h2 class="border-Bottom">@ViewBag.Message</h2>
    <h3>Thanks</h3>
    <h4>Thông tin đặt hàng của bạn đã được ghi nhận.</h4>
</article>
