@model IEnumerable<MusicWS.Models.CaSy>
@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="content-right boxRSL">
    <header class="border-Bottom"><h2>@ViewBag.Message</h2>

        <ol>
            @foreach (var item in Model)
            {


            }
        </ol>
     </header>
</article>
