@model IEnumerable<MusicWS.Models.Album>
@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content-right boxRSL">
   
    <h2 class="borderBOrangeRed">@ViewBag.Message</h2>
    <div class="wgStyle">
        @using(Html.BeginForm())
        {
            WebGrid grid = new WebGrid(Model,rowsPerPage:4);
            @grid.GetHtml(
            columns: grid.Columns(
            grid.Column(header:"Ảnh bìa", format: p=>Html.Raw(string.Format("<img src='{0}/{1}' style='height:70px'/> ",Url.Content("~/Photos/Album"),p.AnhBia)), style:"alignC"),
            grid.Column("GiaBan", header:"Giá bán", format:p=>p.GiaBan.ToString("#,##0VNĐ"), style:"alignR" ),
            grid.Column("NgayPhatHanh", header:"Ngày phát hành", format:p=>p.NgayPhatHanh.ToString("dd/MM/yyyy"), style:"alignC", canSort:false ),
            grid.Column(header:"Chi tiết", format: p=>Html.ActionLink("Xem","Detail",new {id=p.AlbumId})),
            grid.Column(header:"Trình bày", format: p=>Html.Raw(string.Format("<a href='{0}'><img src='{1}' style='height:24px'/> ",Url.Action("Album","TrinhBay",new{id=p.AlbumId}),Url.Content("~/Images/play1.jpg"))), style:"alignC")
            )) 
        }
    </div>
</article>
